<!--<%inherit file="layout.html" /> -->
<!-- 菜单管理
Author Wujj
Date : 2018/09/30
-->
<style>
  #tree {
		/* width: 180px; */
		width: 246px;
		height: 100%;
		float: left;
		margin-left: 6px !important;
		overflow-x: auto;
	}

	#menu {
		height: 100%;
		/* margin-left:190px; */
		margin-left: 256px;
	}
</style>
<div style="width:100%;height: 100%;">
  <div id='tree' class="ztree">
    &nbsp;
  </div>
  <div id='menu'>
    &nbsp;
  </div>
</div>
<script type="text/javascript">
  var PCRUD;

  var Cnm;
  var Customer = jQuery.extend({}, GCtx.customer);
  var Cid = Customer._id;
  var Uid = GCtx.user._id;
  var Loading = jQuery.Loading({ Message: "数据加载中……", Timeout: 1200 });
  var btnNm = "";


  var oConfig = {
    path: "biz/",
    ztree: {
      Pid: Cid,
      plv: null,
      node: {},
      selectTree: function(node) {
        oConfig.ztree.Pid = node._id;
        oConfig.ztree.plv = (node.lv || 0);
        oConfig.ztree.node = node
        PCRUD.View.Grid.Query();
      },
      setting: {
        data: { key: { name: "nm" }, simpleData: { enable: true, idKey: "_id", pIdKey: "pid" } },
        callback: {
          onClick: function(event, id, node) {
            oConfig.ztree.selectTree(node)

          }
        }
      },
      init: function() {
        {

          $.JWS("../" + oConfig.path + "menu/query.json", { query: {}, order: [{ Field: "pid", Type: false }, { Field: "w", Type: false }] }).success(function(Result) {
            if (Result.Code == 0) {
              var Nodes = Result.Response.rows;

              Nodes.unshift(jQuery.extend({ open: true, iconSkin: "str" }, Customer));
              Tree = $.fn.zTree.init($("#tree"), oConfig.ztree.setting, Nodes);
              Tree.selectNode(Tree.getNodes()[0]);

              oConfig.init();
              if (Tree.getNodes().length > 0) {
                oConfig.ztree.selectTree(Tree.getNodes()[0])
              }


            }
          });
        }
      }
    },

    columns: [
      [
      { "field": "w","title": "排序", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100, },
{ "field": "sn","title": "编码", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100, },
{ "field": "nm","title": "名称", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100, },
{ "field": "val","title": "链接", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 200, },
{ "field": "keep","title": "是否打开", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100,binding:"DISPLAY" },
{ "field": "icon","title": "样式", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100, },
{ "field": "target","title": "打开方式", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100,binding:"TARGET" },
{ "field": "display","title": "是否常见", "align": "left", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100,binding:"DISPLAY" },
      ]
    ],
    form: [{
      "Title": "",
      "Inputs": [
      [{ "Field": "w", "Name": "排序", ShowType: "text", Ext: "",DataType: "Number", "Required": false, RowSpan: 1, ColSpan: 1 },
{ "Field": "sn", "Name": "编码", ShowType: "text", Ext: "",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
{ "Field": "nm", "Name": "名称", ShowType: "text", Ext: "",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },],
[{ "Field": "val", "Name": "链接", ShowType: "text", Ext: "",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
{ "Field": "keep", "Name": "是否打开", ShowType: "combo", Ext: "DISPLAY",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
{ "Field": "icon", "Name": "样式", ShowType: "upload", Ext: "",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },],
[{ "Field": "target", "Name": "打开方式", ShowType: "combo", Ext: "TARGET",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
{ "Field": "display", "Name": "是否常见", ShowType: "combo", Ext: "DISPLAY",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },],
      ]

    }],
    props: [],
    quics: [],
    init: function() {

      PCRUD = jQuery.CRUD('#menu', {
        View: {
          AfterRender: function() {
            this.Button.Hide(["filter", "order"]);

          },
          Form: {
            AfterEnable: function() {

            },
            AfterDisable: function() {

            },
            AfterSet: function(Record, IsNew) { // 点击新建后
              // PCRUD.View.Form.Disable(["regionCode"]);
              // PCRUD.View.Form.Enable([]);
              // var FormContainer = $(".my_dialog") || this.Container;
              // if (!IsNew) {
              // } else {
              //   FormContainer.find("[field='regionCode']").val(oConfig.ztree.node.sn);
              // }
            },
            BeforeGet: function(Record, u, Valids) {},
            AfterGet: function(Record, u, Valids) {
                Record["cid"]=GCtx.customer._id;
            },
            BeforeSet: function(Record, IsNew) {

            }
          }
        },
        Behavior: {
          BeforeQuery: function(Filters, Orders) {
            if (Cid) {

              Filters.Merge([{ Field: "pid", Operate: "=", Value: oConfig.ztree.Pid, Relation: "and" }]);

              Filters.Merge([{ Field: "cid", Operate: "=", Value: Cid, Relation: "and" }]);


              PCRUD.View.Button.Enable(["reset", "filter", "order", "column", "insert", "export"]);
              Loading.Show();
              return true;
            } else {
              PCRUD.View.Button.Disable(["reset", "filter", "order", "column", "insert", "export"]);
              return false;
            }
            Loading.Show();
          },
          AfterQuery: function(Result) {
            Loading.Hide();
            return true;
          },
          BeforeSave: function(Record, Callback) {
            if (Cid) {
              Record.cid = Cid;
              Record.cnm = Cnm;

              if (!Record._id) {
                Record.pid = oConfig.ztree.Pid;
              }
            }

            return true;
          },
          AfterSave: function(Result) {
            //  PCRUD.View.Grid.Query();
            oConfig.ztree.init();
            return true;
          },
          Grid: {
            //   RowDblClick: function (Row) {

            // }
          }
        },
        Service: {
          Path: this.path,
          Target: "menu",
          Base: "../"
        }
      }, {
        "Bindings": GBindings.concat([
                        {Code: "DISPLAY", Records: [{name: "是", value: 1}, {name: "否", value: 2}]},
                        {Code: "TARGET", Records: [{name: "标签页", value: '_self'}, {name: "弹出页", value: '_blank'}]}
                    ]),
     
        "FrozenColumns": [
          []
        ],
        "Columns": this.columns,
        "Form": this.form,
        "Properties": this.props,
        "Quicks": this.quics,
        "Rights": "CUD",
        "Target": "menu",
        "Title": "",
        "ExportFmt": true,
        Layout: "POP" ? "POP" : "POP",
        ExportName: ""
      });


    }

  }


  jQuery(document).ready(function() {
    if (window["GCtx"] && GCtx.customer) {
      Cid = GCtx.customer._id;
      Cnm = GCtx.customer.nm;
    } else {
      alert("请刷新");
    }

    $("#tree").height($("body").height() - 16);
    oConfig.ztree.init();


  });
</script>