<!--<%inherit file="../layout.html" /> -->
<!-- plan
Author Wujj
Date : 2020/3/7
-->
<style>
  #plan,
  #measure,
  #step,
  #link {
    height: 100%;
    width: 20%;
    display: inline-block
  }

  #link {
    width: 39%;
  }
</style>
<div style="width:100%;height: 100%;">

  <div id='plan'>
    &nbsp;
  </div>
  <div id='measure'>
    &nbsp;
  </div>
  <div id='step'>
    &nbsp;
  </div>
  <div id='link'>
    &nbsp;
  </div>
</div>
<script type="text/javascript">
  var Loading = jQuery.Loading({ Message: "数据加载中……", Timeout: 1200 });
  var personal = {
    chain_level_down: ["plan", "measure", "step", "link", "cell"],
    getChildLevels(id) {
      let self = this;
      var idx = this.chain_level_down.indexOf(id);

      return self.chain_level_down.slice(0, idx + 1)
    },
    getParentGridRowById(id) {
      var row = {};
      let self = this;

      if (id != "plan" && id != "measure" && id != "step") {
        row = null
        self.chain_level_down.forEach(function(v, i) {
          if (v == id) {
            row = $("#" + self.chain_level_down[i - 1]).data("component").View.Grid.CurrentRow
          }
        })


      }
      return row
    },
    queryChildGridById(id) {
      let self = this;
      if (id != "link") {

        self.chain_level_down.forEach(function(v, i) {
          if (v == id) {
            row = $("#" + self.chain_level_down[i + 1]).data("component").View.Grid.Query();
          }
        })


      }
    }

  }


  function getOption(type) {
    var initial = {
      "Bindings": GBindings,
      "Columns": [],
      "Form": [{
        "Inputs": []
      }],
      "Properties": [],
      "Quicks": [],
      "Rights": "CUD",
      "Target": type,
      "Title": "",
      "ExportFmt": true,
      "Layout": "POP",
      "ExportName": ""
    }
    initial.Columns[0] = [
      { "field": "sn", "title": "编码", "width": 100, },
      { "field": "nm", "title": "名称", "width": 100, },
      { "field": "level", "title": "规则等级", "width": 100, binding: "cell_level" },
      { "field": "cycle", "title": "周期", "width": 100, binding: "cycle" },
      { "field": "refresh", "title": "刷新", "width": 100, binding: "refresh" },
      { "field": "w", "title": "排序", "width": 100, },
      { "field": "classify", "title": "分类", "width": 100, },
      { "field": "_id", "title": "_id", "width": 170, },
      { "field": "pid", "title": "pid", "width": 170, },
      { "field": "desc", "title": "描述", "width": 100, },
    ]
    initial.Form[0].Inputs = [
      [
        { "Field": "sn", "Name": "编码", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" },
        { "Field": "nm", "Name": "名称", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" },
        { "Field": "level", "Name": "规则等级", ShowType: "combo", DataType: "String", Ext: "cell_level", "Required": false, RowSpan: 1, ColSpan: "1" },
      ],
      [{ "Field": "cycle", "Name": "周期", ShowType: "combo", DataType: "String", Ext: "cycle", "Required": false, RowSpan: 1, ColSpan: "1" },
        { "Field": "refresh", "Name": "刷新", ShowType: "combo", DataType: "String", Ext: "refresh", "Required": false, RowSpan: 1, ColSpan: "1" },
        { "Field": "w", "Name": "排序", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" },
      ],
      [{ "Field": "classify", "Name": "分类", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" }, ],
      [{ "Field": "desc", "Name": "描述", ShowType: "textarea", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "3" }, ],
      //   [{ "Field": "pid", "Name": "pid", ShowType: "text", DataType: "String", Ext: "", "Required": (type=="plan"?false:true), RowSpan: 1, ColSpan: "1","Disabled":true }, ]
      [
        { "Field": "pid", "Name": "pid", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" },
        { "Field": "_id", "Name": "_id", ShowType: "text", DataType: "String", Ext: "", "Required": false, RowSpan: 1, ColSpan: "1" },
      ],
    ]
    initial.Properties = [

      { "Field": "sn", "Name": "编码", ShowType: "text", Ext: "", DataType: "String", "FilterEnabled": true, },
      { "Field": "nm", "Name": "名称", ShowType: "text", Ext: "", DataType: "String", "FilterEnabled": true, },
      { "Field": "level", "Name": "规则等级", ShowType: "combo", Ext: "cell_level", DataType: "String", "FilterEnabled": true, },
      { "Field": "cycle", "Name": "周期", ShowType: "combo", Ext: "cycle", DataType: "String", "FilterEnabled": true, },
      { "Field": "refresh", "Name": "刷新", ShowType: "combo", Ext: "refresh", DataType: "String", "FilterEnabled": true, },
      { "Field": "w", "Name": "排序", ShowType: "text", Ext: "", DataType: "String", "FilterEnabled": true, },
      { "Field": "classify", "Name": "分类", ShowType: "text", Ext: "", DataType: "String", "FilterEnabled": true, },
      { "Field": "desc", "Name": "描述", ShowType: "textarea", Ext: "", DataType: "String", "FilterEnabled": true, },
      { "Field": "pid", "Name": "pid", ShowType: "text", Ext: "", DataType: "String", "FilterEnabled": true, },
    ]
    return initial
  }


  function getView(type) {
    var initial = {
      AfterRender: function() {
        var jDom = this.Container;
        var view = this.Core.View;
        var showName = "copy";
        jDom.find('.right_container').prepend('<button command=' + showName + '>' + showName + '</button>').find('[command=' + showName + ']').
        on("click", function(event) {
          var selRow = view.Grid.CurrentRow;
          if (selRow) {
            tideService.base[view.Container.attr("id")].CRUD.post("copy", { "record": selRow }).done(function(ret) {
              view.Grid.Query();
              view.ShowMessage("delighted");
            })
          } else {
            view.ShowMessage("Please select  row ");
          }
        })


        showName = "doing";
        jDom.find('.right_container').prepend('<button command=' + showName + '>' + showName + '</button>').find('[command=' + showName + ']').
        on('click', function(event) {
          var selRow = view.Grid.CurrentRow;
          if (selRow) {
            tideService.base[view.Container.attr("id")].CRUD.post(showName, { "record": selRow }).done(function(ret) {

              view.ShowMessage("delighted");
            })
          } else {
            view.ShowMessage("Please select  row ");
          }
        })


      },
      Form: {
        AfterSet: function(Record, IsNew, V) {
          var grid_id = V.Container.attr("id")
          if (IsNew) {
            var pRow = personal.getParentGridRowById(grid_id)
            if (!pRow) {

              V.ShowMessage("请选择父对象");
              V.FormContainer.closest(".my_dialog").css("display", "none")
              return false
            }
          }

          var FC = V.FormContainer;
          Object.keys(V.Field).forEach(function(k) {
            var v = V.Field[k];
            if (v && v.ColSpan > 1) {
              var ele = FC.find("[field='" + v.Field + "']");
              ele.width(ele.closest("td").width() - 10);

            }
          })
          var values = personal.getChildLevels(grid_id);
          var data = GBindings.filter(function(v) { return v.Code == "cell_level" })[0].Records;
          data = data.filter(function(v) {
            return values.indexOf(v.value) >= 0
          })


          FC.find("[field=level]").combobox({
            textField: "name",
            valueField: "value",
            value: Record.level || data[0].value,
            data: data
          });
        },
        AfterGet: function(Record, IsNew, Valid, view) {
          if (IsNew) {
            pRow = personal.getParentGridRowById(view.Container.attr("id"))
            if (!pRow) {
              Record.pid = pRow._id
            }

          }
          return Record

        },
      }
    }
    return initial
  }

  function getBehavior(type) {
    var initial = {
      BeforeQuery: function(Filters, Orders) {
        let self = this;
        if (self.Core.View.Container) {
          var pRow = personal.getParentGridRowById(self.Core.View.Container.attr("id"))
          if (pRow && pRow._id) {
            Filters.Merge([{ Field: "pid", Operate: "=", Value: pRow._id, Relation: "and" }]);
          } else {
            Filters.Clear(["pid"])
          }
        }


        return true;
      },
      Grid: {
        //   RowDblClick: function (Row) {

        // },
        AfterRowClick: function(row, i, view) {
          personal.queryChildGridById(view.Container.attr("id"))

        }
      }

    }
    return initial
  }


  function getService(type) {
    var initial = {
      Path: "",
      Target: type,
      Base: "./"
    }
    return initial
  }

  function init(type) {
    var view = getView(type)
    var behavior = getBehavior(type)
    var service = getService(type)
    var option = getOption(type)

    jQuery.CRUD('#' + type, {
      View: view,
      Behavior: behavior,
      Service: service
    }, option);


  }

  jQuery(document).ready(function() {

    init("plan");
    init("measure");
    init("step");
    init("link");

  });
</script>