/*对话框默认样式*/
/*蒙板*/
div.my_dialog
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6931;
    cursor: default;
    background-image: url('Images/bg.png');
    background-repeat: repeat;
}
/*框体*/
div.my_dialog > div
{
    position: absolute;
}
div.my_dialog > div > div
{
    border: solid 1px #234557;
    background: #eff3f7;
}
div.my_dialog > div > div > div
{
    background: #4586d8;
}
div.my_dialog > div > div > div > div
{
    width: 100%;
    cursor: move;
    position: relative;
}
/*标题文字*/
div.my_dialog > div > div > div > div > div.title
{
    color: #fff;
    font-size: 12px;
    text-indent: 10px;
    line-height: 32px;
}
/*关闭按钮*/
div.my_dialog > div > div > div > div > a.close
{
    display: block;
    background: transparent url(Images/close.gif) no-repeat 6px -1px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 4px;
}
div.my_dialog > div > div > div > div > a.close:hover
{
    background-position: 6px -42px;
}
div.my_dialog > div > div > div > div > a.close:active
{
    background-position: 6px -42px;
}

div.my_dialog > div > div > div > div > a.help
{
    display: block;
    background: transparent url(Images/help.png) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 36px;
}

div.my_dialog > div > div div.body
{
    background-color: #eff3f7;
}
/*面板，放置内容页面iframe或提示table*/

div.my_dialog > div > div div.body > div > div > div > div iframe
{
    background-color: #eff3f7;
}
div.my_dialog > div > div div.body > div
{
    padding: 5px 15px 10px 15px;
}

/*提示布局table*/
div.my_dialog > div > div div.body > div > table
{
    width: 300px;
    height: 150px;
    border-collapse: collapse;
    margin-left: 40px;
}
div.my_dialog > div > div div.body > div > table td
{
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
}
/*提示图标单元格*/
div.my_dialog > div > div div.body > div > table td.icon
{
    width: 50px;
    height: 120px;
}
div.my_dialog > div > div div.body > div > table td.icon > div
{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
/*提示图标*/
div.my_dialog > div > div div.body > div > table
{
    margin-top: 10px;
}
div.my_dialog > div > div div.body > div > table td.icon > div.icon_error
{
    background-image: url(Images/icon-error.gif);
}
div.my_dialog > div > div div.body > div > table td.icon > div.icon_info
{
    background-image: url(Images/icon-info.gif);
}
div.my_dialog > div > div div.body > div > table td.icon > div.icon_question
{
    background-image: url(Images/icon-question.gif);
}
div.my_dialog > div > div div.body > div > table td.icon > div.icon_warning
{
    background-image: url(Images/icon-warning.gif);
}
/*提示框底部按钮*/
div.my_dialog > div > div div.body > div > table div.button
{
    clear: both;
    padding: 8px 0;
    height: 28px;
    margin: 8px 0;
}
div.my_dialog > div > div div.body > div > table div.button > a
{
    display: block;
    float: right;
    background: transparent url(Images/button.gif) no-repeat 0 -25px;
    color: #1f384a;
    font-size: 12px;
    text-decoration: none;
    height: 25px;
    width: 54px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
    font-weight: normal;
}
div.my_dialog > div > div div.body > div > table div.button > a:hover
{
    background-position: 0 0;
    color: #111;
    font-weight: normal;
}
div.my_dialog > div > div div.body > div > table div.button > a:active
{
    background-position: 0 0;
    color: #111;
    font-weight: normal;
}


/*yucq 20161208解决bootstrap样式冲突*/
div.my_dialog > div > div div.body > div > table div.button .btn
{
  display:inline-block;height:26px;line-height:26px;padding:0 20px;margin-left:6px;text-decoration:none;font-size:12px; cursor:pointer;border-radius:0;
}
div.my_dialog > div > div div.body > div > table div.button .btn_common:hover,button.btn_current:hover{
	background:#f2f1f1;border:solid 1px #5d5d5d;
}
div.my_dialog > div > div div.body > div > table div.button .btn_current{
	background:#acdaff;border:solid 1px #92c1e9;color:#222;
}
div.my_dialog > div > div div.body > div > table div.button .btn_confirm{
    background:#43aa42;border:solid 1px #2d892d;color:#fff;
}
div.my_dialog > div > div div.body > div > table div.button .btn_confirm:hover{
    background:#4db94c;
}
div.my_dialog > div > div div.body > div > table div.button .right{
    float:right;
}














/* spring skin   */



/* light skin 2020-03-12 */



/* ------------------MyDialog样式覆盖-------------------- */
/*框体*/
div.my_dialog > div > div
{background: #f4f4f4;}
div.my_dialog > div > div > div
{background: #e6e6e6;}
/*标题文字*/
div.my_dialog > div > div > div > div > div.title
{color: #333;font-size: 12px;text-indent: 20px;line-height: 40px;border-bottom:solid 1px #d8d8d8;}
div.my_dialog > div > div div.body
{background-color: #f4f4f4;}
div.my_dialog > div > div div.body > div > div > div > div iframe
{background-color: #f4f4f4;}



.crud_framework .form_container > .button_container {
    margin: 0;
    height: 28px;
    padding: 4px 8px 4px 0px;
    border-top: 1px solid #bfcfdc;
    text-align: right;
  }


  .crud_framework { overflow: hidden; }

.crud_framework > .content_container{ position: relative; width: 100%;}
.crud_framework > .content_container > .seperator_line { width: 100%; height: 61px; position: absolute; z-index: 999; background-image: url(Images/seperator_line.png); background-repeat: repeat-x; background-position: 0px center; cursor: s-resize; }
.crud_framework > .content_container > .seperator_line.vertical { height: 100%; width: 61px; background-repeat: repeat-y; background-position: center 0px; cursor:w-resize; }
.crud_framework .top_container { width: 100%; height: 36px; margin: 0; border: 0; padding: 0; }
.crud_framework .top_container .left_container { }
.crud_framework .top_container .left_container .title { background: #ffffff; border-left: 1px #98b8df solid; border-right: 1px #98b8df solid; border-top: 2px #3eb4fe solid; padding: 4px 10px 10px 10px; font-weight: bold; color: #061e36; display: inline-block; margin: 0px 0px -8px 0px; white-space: nowrap; word-break: keep-all; }
.crud_framework .top_container .right_container { text-align: right; padding-right: 6px; }

.crud_framework .grid_container { margin: 2px; border: 0; padding: 0; }

.crud_framework .grid_active { margin: 0px; border: solid 2px #2D892D; }

.crud_framework .separator_bar { margin: 0; border: 0; padding: 0; height: 12px; background: #aed6f0; border-top: solid 1px #79a4c5; }

.crud_framework .separator_bar > div { padding: 0 14px; height: 8px; float: right; margin: 1px; border: solid 1px #aed6f0; background-image: url(Images/icons.png); cursor: pointer; }
.crud_framework .separator_bar > div:hover { background-color: #d9eefd; border: solid 1px #98b8dd; }

.crud_framework .separator_bar > div.max { background-position: 0px -5px; }
.crud_framework .separator_bar > div.normal { background-position: -21px -5px; }
.crud_framework .separator_bar > div.min { background-position: 0px -17px; }

.crud_framework .form_container { margin: 1px; border: 0; padding: 0; font-size: 12px; border: 1px solid #95B8E7; overflow: hidden; cursor: default; }

.crud_framework .form_active { margin: 0px; border: solid 2px #2D892D; }

.crud_framework .form_container > div.group_container { overflow: auto; }
.crud_framework .form_container > div.group_container > div.group { border: 0px; margin: 0px; padding: 0px; }
.crud_framework .form_container > div.group_container > div.group > div.title { width: 100%; background: #cbdde8; height: 24px; border-bottom: solid 1px #96b2c0; }
.crud_framework .form_container > div.group_container > div.group > div.title > span { font-weight: bold; color: #091e36; line-height: 28px; margin-left: 6px; }
.crud_framework .form_container > div.group_container > div.group > table { width: 100%; border-collapse: collapse; margin: 2px 0px; }

.crud_framework .form_container > div.group_container > div.group > table td { padding: 2px 4px; height: 26px; }

.crud_framework .form_container > div.group_container > div.group > table .label { text-align: right; white-space: nowrap; word-break: keep-all; }

.crud_framework .form_container > div.group_container > div.group > table .content { white-space: nowrap; word-break: keep-all; }

.crud_framework .form_container > div.group_container > div.group > table .content > .wrap { position: relative; display: inline-block; }
.crud_framework .form_container > div.group_container > div.group > table .content .border { display: block; position: absolute; top: 0; right: 6px; height: 26px; line-height: 26px; color: #999; }
.crud_framework .form_container > div.group_container > div.group > table .content .border-with-combo { right: 24px; }
.crud_framework .form_container > div.group_container > div.group > table .content .border-with-upload { right: 32px; }
.crud_framework .form_container > div.group_container > div.group > table .content .border-with-combo { right: 24px; }
.crud_framework .form_container > div.group_container > div.group > table .content input[type=text].default { height: 22px; width: 148px; line-height: 22px; }
.crud_framework .form_container > div.group_container > div.group > table .content input[type=password].default { height: 22px; width: 148px; line-height: 22px; }
.crud_framework .form_container > div.group_container > div.group > table .content input[type=checkbox].default { margin: 4px 0 3px 0; }
.crud_framework .form_container > div.group_container > div.group > table .content input[type=text].text_button { width: 124px; }
.crud_framework .form_container > div.group_container > div.group > table .content textarea.default { width: 148px; height: 50px; }
.crud_framework .form_container > div.group_container > div.group > table .content button.upload { height: 26px; line-height: 22px; margin: 0px 1px; padding: 0px 6px; position: relative\9; top: -0px\9; }
.crud_framework .form_container > div.group_container > div.group > table .content button.gispos { height: 26px; line-height: 22px; margin: 0px 1px; padding: 0px 6px; position: relative\9; top: -0px\9; }
.crud_framework .form_container > div.group_container > div.group > table .content button.gisarea { height: 26px; line-height: 22px; margin: 0px 1px; padding: 0px 6px; position: relative\9; top: -0px\9; }

.crud_framework .form_container > div.group_container > div.group > table .sign_red { border: solid 1px #FF0000; }
.crud_framework .form_container > div.group_container > div.group > table .sign_yellow { border: solid 1px #FB851C; }

.crud_framework .form_container > div.group_container > div.group > table span.required { color: Red; }


/*按钮相关*/
span.line { display: inline-block; font-family: "verdana" , "arial" , "宋体"; font-size: 17px; width: 4px; height: 24px; background: url(Images/icons.png) no-repeat; background-position: -71px -4px; }

button { display: inline-block; height: 26px; line-height: 24px; padding: 0 15px; margin: 2px 1px; text-decoration: none; font-size: 12px; cursor: pointer; border: solid 1px #989898; color: #222; background-color: #E9E8E8; }

button:hover { background-color: #acdaff; border: solid 1px #128EDE; }
button.icon_query:hover { background-color: #4db94c; }

button.confirm { background-color: #43aa42; border: solid 1px #2d892d; color: #fff; }

button.icon { background-repeat: no-repeat; background-image: url(Images/button_icon_normal.png); padding: 0 6px 0 24px; }

button.iconly { height: 20px; line-height: 18px; background-repeat: no-repeat; background-image: url(Images/button_icon_normal.png); padding: 0 0 0 16px; padding: 0 0 0 16px\0; }
@media (-webkit-min-device-pixel-ratio:0) {
    button.iconly { padding: 0 0 0 16px; }
}

button.selected { background-color: #29aaff; border: solid 1px #128EDE; color: #fff; background-image: url(Images/button_icon_selected.png); background-repeat: no-repeat; }

button.disabled { background-color: #dddddd; border: solid 1px #c3c3c3; color: #a8a8a8; background-image: url(Images/button_icon_disabled.png); background-repeat: no-repeat; }


button.icon_reset { background-position: -4px -34px; }
button.icon_filter { background-position: -4px -64px; }
button.icon_order { background-position: -4px -94px; }
button.icon_column { background-position: -4px -124px; }
button.icon_insert { background-position: -4px -154px; }
button.icon_upsert { background-position: -4px -768px; }
button.icon_delete { background-position: -4px -184px; }
button.icon_update { background-position: -4px -214px; }
button.icon_export { background-position: -4px -244px; }
button.icon_query { background-position: -2px -269px; background-color: #43aa42; border: solid 1px #2d892d; color: #fff; }
button.icon_report { background-position: -4px -305px; }
button.icon_chart { background-position: -4px -335px; }
button.icon_copy { background-position: -4px -365px; }
button.icon_paste { background-position: -4px -395px; }
button.icon_cut { background-position: -4px -425px; }
button.icon_import { background-position: -4px -458px; }
button.icon_save { background-position: -2px -486px;}
button.icon_confirm { background-position: -4px -583px; }
button.icon_handle { background-position: -4px -613px; }
button.icon_selector { background-position: -4px -640px; }
button.icon_remote { background-position: -4px -674px; }
button.icon_detail { background-position: -5px -705px; }
button.icon_print { background-position: -4px -799px; }
button.icon_sync { background-position: -4px -830px; }
button.icon_share { background-position: -4px -860px; }
button.icon_colchart { background-position: -4px -890px; }


/* ------------------CRUD样式覆盖 -------------------- */
button { display: inline-block; height: 26px; line-height: 24px; padding: 0 15px; margin: 2px 1px; text-decoration: none; font-size: 12px; cursor: pointer; border: solid 1px #c9cccd; color: #222; background-color: #fff; }
button:hover { background-color: #f3f4f4; border: solid 1px #c9cccd; }
button.icon_query:hover { background-color: #249fd8; }
button.confirm { background-color: #2eabe5; border: solid 1px #2eabe5; color: #fff; }

button.icon_query { background-position: -2px -269px; background-color: #2eabe5; border: solid 1px #2eabe5; color: #fff; }

.crud_framework .top_container { width: 100%; height: 38px; margin: 0; border:0; padding: 0;}
.crud_framework .top_container .left_container .title { background: #ffffff;border-right: 1px #e1e3e4 solid;border-left: 1px #e1e3e4 solid; border-top: 3px #1bace2 solid; padding: 9px 10px 13px 10px; font-weight: bold; color: #061e36; display: inline-block; margin: 0px 0px -3px 0px; white-space: nowrap; word-break: keep-all; }
.crud_framework .top_container .right_container { text-align: right; padding-right: 6px; }
.crud_framework .grid_container { margin: 2px; border: 0; padding: 0; }
.crud_framework .grid_active { margin: 0px; border:0; }
.crud_framework .form_container > div.group_container > div.group > div.title{height:38px;line-height:38px;border:solid 1px #e1e3e4;background:#f8f8f8; text-indent:15px;width:auto;}
.crud_framework .form_container{margin:0;border:none;}
.crud_framework .form_container > div.group_container > div.group > table{border-left:solid 1px #e1e3e4;border-right:solid 1px #e1e3e4;background:#fff;margin:0;}
