<!--<%inherit file="layout.html" /> -->
<!-- 接口配置
Author Wujj
Date : 2018/07/25
-->
<style>
  #customer {
    /*    width: 180px;
        height: 100%;
        float: left;
        margin-left: 6px !important;
        overflow-x: auto; */
  }

  #interfaceconfig {
    height: 100%;
    /*margin-left:190px;*/
  }
</style>
<div style="width:100%;height: 100%;">
  <div id='customer' class='customer'>
    &nbsp;
  </div>
  <div id='interfaceconfig'>
    &nbsp;
  </div>
</div>
<script type="text/javascript">
  var param = { sway: [] }
  var sway = [];
  if (getUrlParam("sway")) {
    param["sway"] = getUrlParam("sway").split(",");
  }
  var PCRUD;
  var Divisions = [];
  var Cid;
  var Cnm;
  var Uid = GCtx.user._id;
  var Pf = null;
  var btnNn = "";

  var Title1 = "cs";

  var cols = [
    [
      { "field": "desc", "title": "备注", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      { "field": "w", "title": "配置排序", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 70, },
      
      { "field": "group", "title": "分组名", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      { "field": "nm", "title": "记录名", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 140, },
      { "field": "table_nm", "title": "编码", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 140, },
      { "field": "storage_way", "title": "存储方式", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 80, binding: "StorageWay" },
      { "field": "getCycle","title": "获取周期", "align": "center", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100,binding:"GetCycle" },
      { "field": "storage_config", "title": "存储方式配置", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 200 },
      // { "field": "storage_table_nm", "title": "父对象编码", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      // { "field": "storage_psn", "title": "父对象列", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      // { "field": "storage_sn", "title": "本对象列", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      { "field": "indexKey", "title": "索引列", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 180, },
      { "field": "param", "title": "方法参数1", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 380, },
      { "field": "param2", "title": "方法参数2", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 300, },
      { "field": "orders", "title": "排序(CRUD)", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 140, },
      { "field": "quicks", "title": "查询条件", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 140, },
      { "field": "method", "title": "方法名", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 140, },
      { "field": "sendway","title": "发送方式", "align": "center", "halign":"center","colspan": 1,"hidden": false, "rowspan": 1,"width": 100,binding:"SendWay" },
      { "field": "colInp", "title": "列配置", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 260, },
    ]
  ];


  var inp1 = [
    [
      { "Field": "group", "Name": "分组名", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      { "Field": "nm", "Name": "记录名", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      { "Field": "table_nm", "Name": "编码", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },

    ],
    [
      { "Field": "storage_way", "Name": "存储方式", ShowType: "combo", Ext: "StorageWay", DataType: "String", "Required": true, RowSpan: 1, ColSpan: 1 },
      
      { "Field": "sendway", "Name": "发送方式", ShowType: "combo", Ext: "SendWay",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      { "Field": "getCycle", "Name": "获取周期", ShowType: "combo", Ext: "GetCycle",DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      // { "Field": "storage_table_nm", "Name": "父对象编码", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      // { "Field": "storage_psn", "Name": "父对象列", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },

    ],
    [
      { "Field": "storage_config", "Name": "存储方式配置", ShowType: "textarea", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 3 },
    ],
    // [
    // { "Field": "storage_sn", "Name": "本对象列", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },

    // ],
    [
      { "Field": "method", "Name": "方法名", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },

      { "Field": "w", "Name": "配置排序", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      { "Field": "indexKey", "Name": "索引列", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 }
    ],
    [
      { "Field": "orders", "Name": "排序(CRUD)", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },

      { "Field": "param", "Name": "方法参数1", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 2 },
    ],
    [
      { "Field": "param2", "Name": "方法参数2", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 3 },

    ],
    [
      { "Field": "quicks", "Name": "查询条件", ShowType: "textarea", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 3 },

    ],
    [
      { "Field": "colInp", "Name": "列配置", ShowType: "textarea", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 3 },
    ],
    [
      { "Field": "desc", "Name": "备注", ShowType: "textarea", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 3 },
    ]

  ];
  var props = [

    { "Field": "storage_way", "Name": "存储方式", "ShowType": "combo", Ext: "StorageWay", "DataType": "String", "Unique": 0, "FilterEnabled": false, "Frozen": false, "Hidden": false, "OrderEnabled": false },

  ];

  var qSway = { "Field": "storage_way", "Label": "存储方式", "Type": "QCombox", Ext: "StorageWay", "Multiple": true, Source: "StorageWay", TextField: "name", ValueField: "value", Width: 190 };

  if (param.sway && param.sway.length > 0) {
    qSway["Value"] = param.sway
  };

  var quics = [
    { "Field": "group", "Label": "分组名", "Type": "QText", "Width": 90 },
    { "Field": "nm", "Label": "记录名", "Type": "QText", "Width": 90 },
    qSway
  ];
  var btnNm = "";

  function init() {

    PCRUD = jQuery.CRUD('#interfaceconfig', {
      View: {
        AfterRender: function() {




        },
        Form: {
          AfterEnable: function() {

          },
          AfterDisable: function() {

          },
          AfterSet: function(Record, IsNew) { // 点击新建后
            //PCRUD.View.Form.Disable(["biguser.nm", 'biguser.tel', 'biguser.mobile', 'biguser.contact', 'biguser.unitecode']);
            //PCRUD.View.Form.Enable([]);
            if (!IsNew) {
              //FormContainer.find(".button_container").css("display", "none");
            } else {

            }
            var FormContainer = $(".my_dialog") || this.Container;
            FormContainer.find("textarea").width(FormContainer.find("textarea").parent().parent().width() - 5);
            FormContainer.find("[field=colInp]").height(300);
            FormContainer.find("[field=quicks]").height(150);
            FormContainer.find("[field=param]").width(354);
            FormContainer.find("[field=param2]").width(572);

          },
          BeforeGet: function(Record, u, Valids) {},
          AfterGet: function(Record, u, Valids) {

          },
          BeforeSet: function(Record, IsNew) {

          }
        }
      },
      Behavior: {
        BeforeQuery: function(Filters, Orders) {
          if (Cid) {

            $.each(Filters, function(ai, av) {
              if (av.Field == "storage_way") {
                if (av.Value && av.Value.length == 0) {
                  Filters.Clear(["storage_way"]);
                } else {
                  av.Operate = "in"
                }
              }

            })
            // Filters.Merge([{ Field: "cid", Operate: "=", Value: Cid, Relation: "and" }]);

            Orders.Merge([{ "Field": "w", Type: false }])
            PCRUD.View.Button.Enable(["reset", "filter", "order", "column", "insert", "export"]);

            return true;
          } else {
            PCRUD.View.Button.Disable(["reset", "filter", "order", "column", "insert", "export"]);
            return false;
          }


        },
        AfterQuery: function(Result) {


          return true;
        },
        BeforeSave: function(Record, Callback) {
          if (Cid) {
            Record.cid = Cid;
            Record.cnm = Cnm;
          }

          return true;
        },
        AfterSave: function(Result) {
          //  PCRUD.View.Grid.Query();
          return true;
        },
        Grid: {
          //   RowDblClick: function (Row) {

          // }
        }
      },
      Service: {
        Path: "prostock/",
        Target: "interfaceconfig",
        Base: "/",

      }
    }, {

      "Bindings": GBindings,
      "FrozenColumns": [
        []
      ],
      "Columns": cols,
      "Form": [{
          "Title": Title1,
          "Inputs": inp1
        }


      ],
      "Properties": props,
      "Quicks": quics,
      "Rights": "CUD",
      "Target": "interfaceconfig",
      "Title": "",
      "ExportFmt": true,
      Layout: "POP" ? "POP" : "POP",
      ExportName: "配置信息"
    });


  }

  jQuery(document).ready(function() {
    if (window["GCtx"] && GCtx.customer) {
      //特定客户
      jQuery("#customer").hide();
      Cid = GCtx.customer._id;
      Cnm = GCtx.customer.nm;
      Pf = GCtx.customer.pf || "";
      //  $("#interfaceconfig").width($(window).width());
    } else {
      alert("请刷新");
    }

    init();

  });
</script>