<%inherit file="layout.html" />
<!-- 复合模块
Author Wujj
Date : 2018/10/03
-->
<style>
	#customer {
		width: 280px;
		float: left;
		height: 100%;
	}

	#multidata {
		float: left;
		height: 100%;
	}
</style>
<div id='customer' class='customer'>
	&nbsp;
</div>
<div id='multidata'>
	&nbsp;
</div>
<script type="text/javascript">
    var PCRUD;
    var Divisions = [];
    var Cid;
    var Cnm;
    var Uid = GCtx.user._id;
    var btnNm = "";
    var Pf = null;
    var Loading = jQuery.Loading({Message: "数据加载中……", Timeout: 1200});
    var Title1 = "";
    <!--序号  检查日期 用户编码 用户名称 社会信用代码 联系人联系方式 执法人员 调查表 -->
    var cols = [
        [
            {"field": "checkt", "title": "检查日期", formatter: DateFormatter, "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.sn", "title": "用户编码", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.nm", "title": "用户名称", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.unitecode", "title": "社会信用代码", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.contact", "title": "联系人", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.mobile", "title": "座机", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "biguser.tel", "title": "手机", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "checker", "title": "执法人员", binding: "USER", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},
            {"field": "form", "title": "调查表", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100},

        ]
    ];
    var inp1 = [
        [
            {"Field": "biguser.sn", "Name": "用户编码", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},
            {"Field": "biguser.nm", "Name": "用户名称", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},
            {"Field": "biguser.unitecode", "Name": "社会信用代码", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},

        ], [

            {"Field": "biguser.contact", "Name": "联系人", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},
            {"Field": "biguser.mobile", "Name": "座机", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},
            {"Field": "biguser.tel", "Name": "手机", DataType: "String", ShowType: "text", Ext: "", "Required": true, RowSpan: 1, ColSpan: 1},

        ]
        , [{"Field": "checkt", "Name": "检查日期", DataType: "Number", ShowType: "datetime", Ext: "yyyy-MM-dd ", "Required": true, RowSpan: 1, ColSpan: 1},
            {"Field": "checker1", "Name": "执法人员1", DataType: "String", ShowType: "combo", Ext: "USER", "Required": true, RowSpan: 1, ColSpan: 1},

            {"Field": "checker2", "Name": "执法人员2", DataType: "String", ShowType: "combo", Ext: "USER", "Required": true, RowSpan: 1, ColSpan: 1}

        ]

    ];
    var props = [
        {"Name": "时间", "Field": "checkt", "Unique": 0, "ShowType": "datetime", "DataType": "Number", "Ext": "yyyy-MM-dd", "FilterEnabled": true, "Frozen": false, "Hidden": false, "OrderEnabled": true},
    ];

    var quics = [
        {Ext: "{Format:\"yyyy-MM-dd\"}", Field: "checkt", Label: "时间", Type: "QDatetimeRange", Begin: new Date().AddMonths(-1).FormatString('yyyy-MM-dd'), End: new Date().FormatString('yyyy-MM-dd')},
    ];


    jQuery(document).ready(function () {
        if (window["GCtx"] && GCtx.customer) {
            //特定客户
            jQuery("#customer").hide();
            Cid = GCtx.customer._id;
            Cnm = GCtx.customer.nm;
            Pf = GCtx.customer.pf || "";
            $("#multidata").width($(window).width());
        } else {
            alert("请刷新");
        }

        PCRUD = jQuery.CRUD('#multidata',
            {
                View: {
                    AfterRender: function () {
                        this.Button.Hide(["filter", "order"]);
                        jQuery('<button command="audit" id="audit" title="' + btnNm + '" class="" type="button">' + btnNm + '</button>').prependTo($(".crud_framework .top_container .right_container"));
                        jQuery("button[command=audit]").click(
                            function () {


                            }
                        );


                    },
                    Form: {
                        AfterEnable: function () {

                        },
                        AfterDisable: function () {

                        },
                        AfterSet: function (Record, IsNew) {  // 点击新建后
                            //PCRUD.View.Form.Disable(["biguser.nm", 'biguser.tel', 'biguser.mobile', 'biguser.contact', 'biguser.unitecode']);
                            //PCRUD.View.Form.Enable([]);
                            if (!IsNew) {
                                //FormContainer.find(".button_container").css("display", "none");
                            } else {

                            }
                        },
                        BeforeGet: function (Record, u, Valids) {
                        },
                        AfterGet: function (Record, u, Valids) {

                        },
                        BeforeSet: function (Record, IsNew) {

                        }
                    }
                },
                Behavior: {
                    BeforeQuery: function (Filters, Orders) {
                        if (Cid) {
                            Filters.Merge([{Field: "cid", Operate: "=", Value: Cid, Relation: "and"}]);
                            Filters.Clear(['did']);

                            PCRUD.View.Button.Enable(["reset", "filter", "order", "column", "insert", "export"]);
                            Loading.Show();
                            return true;
                        }
                        else {
                            PCRUD.View.Button.Disable(["reset", "filter", "order", "column", "insert", "export"]);
                            return false;
                        }
                        Loading.Show();
                    },
                    AfterQuery: function (Result) {
                        Loading.Hide();
                        return true;
                    },
                    BeforeSave: function (Record, Callback) {
                        if (Cid) {
                            Record.cid = Cid;
                            Record.cnm = Cnm;
                        }

                        return true;
                    },
                    Grid: {
                        //   RowDblClick: function (Row) {

                        // }
                    }
                },
                Service: {
                    Path: "prostock/",
                    Target: "multidata",
                    Base: "../"
                }
            },
            {

                "Bindings": GBindings,
                "FrozenColumns": [[]],
                "Columns": cols,
                "Form": [
                    {
                        "Title": Title1,
                        "Inputs": inp1
                    }


                ],
                "Properties": props,
                "Quicks": quics,
                "Rights": "CUD",
                "Target": "multidata",
                "Title": "",
                "ExportFmt": true,
                Layout: "POP" ? "POP" : "LR",
                ExportName: ""
            });


    });


</script>
