<%inherit file="layout.html" />
<!-- 复合模块
Author Wujj
Date : 2018/10/03
-->
<style>
  #customer {
		width: 280px;
		float: left;
		height: 100%;
	}

	#multidata {
		float: left;
		height: 100%;
	}
</style>
<div id='customer' class='customer'>
  &nbsp;
</div>
<div id='multidata'>
  &nbsp;
</div>
<script type="text/javascript">
  var FormContainer;
  var oZtree = {
    ztree: {},
    setting: {

      edit: {
        enable: true,
        showRemoveBtn: false,
        showRenameBtn: false,
        drag: {
          inner: false
        }
      },
      callback: {
        beforeDrop: function(treeId, treeNodes, targetNode, moveType) {
          if (treeNodes[0].pId != targetNode.pId) {
            return false;
          }

        }
      },
      view:{
        txtSelectedEnable: true,
      },

      check: {
        enable: true
      },
      data: {
        key: { name: "nm" },
        simpleData: {
          enable: true
        }
      }
    },
    setNodes: function(types, sid) {
      getMultDataTree(sid, function(nodes) {
        oZtree.nodes = nodes;
        oZtree.nodes = oZtree.nodes.filter(function(v) {

          return $.inArray(v.id, types) >= 0 || $.inArray(v.pId, types) >= 0;
        })
        oZtree.init(FormContainer.find("#fortree"));
      });

    },
    nodes: [],
    init(dom) {

      oZtree.ztree = $.fn.zTree.init(dom, oZtree.setting, oZtree.nodes);
    }

  }
  var PCRUD;
  var Divisions = [];
  var Cid;
  var Cnm;
  var Uid = GCtx.user._id;
  var btnNm = "";
  var Pf = null;
  var Loading = jQuery.Loading({ Message: "数据加载中……", Timeout: 1200 });
  var Title1 = "";
  var cols = [
    [
      { "field": "nm", "title": "模块名", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 200, },
      { "field": "sn", "title": "编码", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 150, },
      { "field": "quicks", "title": "查询条件", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, },
      { "field": "basic", "title": "基础表", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 100, binding: "StockConfig" },
      { "field": "types", "title": "涉及分组", "align": "left", "halign": "center", "colspan": 1, "hidden": false, "rowspan": 1, "width": 300, binding: "StockConfig" },
    ]
  ];
  var inp1 = [
    [{ "Field": "nm", "Name": "模块名", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
      {
        RowSpan: 5,
        ColSpan: 1,
        DataType: "String",
        Ext: "width: 500px;",
        Field: "cols",
        Name: "配置树",
        ShowType: "textarea",
        "Required": false
      },
    ],
    [{ "Field": "sn", "Name": "编码", ShowType: "text", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 }, ],

    [
      { "Field": "quicks", "Name": "查询条件", ShowType: "textarea", Ext: "", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
    ],
    [
      { "Field": "basic", "Name": "基础表", ShowType: "combo", Ext: "StockConfig", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1 },
    ],
    [{ "Field": "types", "Name": "涉及分组", ShowType: "combocheck", Ext: "StockConfig", DataType: "String", "Required": false, RowSpan: 1, ColSpan: 1, Multi: true }, ],
  ];
  var props = [];

  var quics = [];


  jQuery(document).ready(function() {
    getBindConfig();

    if (window["GCtx"] && GCtx.customer) {
      //特定客户
      jQuery("#customer").hide();
      Cid = GCtx.customer._id;
      Cnm = GCtx.customer.nm;
      Pf = GCtx.customer.pf || "";
      $("#multidata").width($(window).width());
    } else {
      alert("请刷新");
    }

    PCRUD = jQuery.CRUD('#multidata', {
      View: {
        AfterRender: function() {
          this.Button.Hide(["filter", "order"]);



        },
        Form: {
          AfterEnable: function() {

          },
          AfterDisable: function() {

          },
          AfterSet: function(Record, IsNew) { // 点击新建后
            //PCRUD.View.Form.Disable(["biguser.nm", 'biguser.tel', 'biguser.mobile', 'biguser.contact', 'biguser.unitecode']);
            //PCRUD.View.Form.Enable([]);
            if (!IsNew) {
              //FormContainer.find(".button_container").css("display", "none");
            } else {

            }
            FormContainer = $(".my_dialog") || this.Container;
            FormContainer.find("textarea[field=quicks]").width(FormContainer.find("textarea[field=quicks]").parent().parent().width());
            FormContainer.find("[field=quicks]").height(250);

            FormContainer.find("tr:first td").eq(-2).html("")
            FormContainer.find("tr:first td:last").html("<div id='fortree'   class='ztree' style='width:360px;height: 400px;overflow-y: scroll; overflow-x: auto;'></div>")
            FormContainer.find("textarea[field=cols]").height(FormContainer.find("textarea[field=cols]").parent().parent().height());


            oZtree.init(FormContainer.find("#fortree"));
            FormContainer.find("[field=types]").combobox({
              value: Record.types,
              "onChange": function(nv, ov) {
                //nv 新值，值combo 的key 
                oZtree.setNodes(nv, Record._id);

              }
            })
         

              oZtree.setNodes(Record.types||[], Record._id);
          

          },
          BeforeGet: function(Record, u, Valids) {},
          AfterGet: function(Record, u, Valids) {

            debugger
            Record["select_config"] = [];
            // checked  w id
            var ns = oZtree.ztree.getNodes();
            $.each(ns, function(nsi, nsv) {
              var o = { "id": nsv.id, "w": nsv.w, "checked": nsv.checked || false, cols: [] }
              Record["select_config"].push(o)
              $.each(nsv.children || [], function(nsvi, nsvv) {
                o["cols"].push({ "id": nsvv.id, "w": o["cols"].length + 1, "checked": nsvv.checked || false })
              })
            })

          },
          BeforeSet: function(Record, IsNew) {

          }
        }
      },
      Behavior: {
        BeforeQuery: function(Filters, Orders) {
          if (Cid) {
            Filters.Merge([{ Field: "cid", Operate: "=", Value: Cid, Relation: "and" }]);
            Filters.Clear(['did']);

            PCRUD.View.Button.Enable(["reset", "filter", "order", "column", "insert", "export"]);
            Loading.Show();
            return true;
          } else {
            PCRUD.View.Button.Disable(["reset", "filter", "order", "column", "insert", "export"]);
            return false;
          }
          Loading.Show();
        },
        AfterQuery: function(Result) {
          Loading.Hide();
          return true;
        },
        BeforeSave: function(Record, Callback) {
          if (Cid) {
            Record.cid = Cid;
            Record.cnm = Cnm;
          }

          return true;
        },
        Grid: {
          //   RowDblClick: function (Row) {

          // }
        }
      },
      Service: {
        Path: "prostock/",
        Target: "multidata",
        Base: "../"
      }
    }, {

      "Bindings": GBindings,
      "FrozenColumns": [
        []
      ],
      "Columns": cols,
      "Form": [{
          "Title": Title1,
          "Inputs": inp1
        }


      ],
      "Properties": props,
      "Quicks": quics,
      "Rights": "CUD",
      "Target": "multidata",
      "Title": "",
      "ExportFmt": true,
      Layout: "POP" ? "POP" : "LR",
      ExportName: ""
    });


  });
</script>