<!--<%inherit file="layout.html"/>-->
<script src="/static/echarts/echarts.min.js"></script>
<body style="height:100%;"  >
    <!-- 此处可以写参数，可以写一个配置模块 -->
    <div id="myChart" style="height:100%;" ></div>
    </div>

</body>

<script>
   var myChart = echarts.init(document.getElementById('myChart'));

    var oo = 
        {"method_tp":"getStockHistory_tochart","query_data":{"s":"20200101","codes":["300097.SZ"],"items":{"daily":1,"index_daily":{"ts_code":"000008.SH"}}},
        // {"method_tp":"getStockHistory_tochart","query_data":{"s":"20200101","codes":["300097.SZ"],"items":{"daily":1}},
        "query_chart":{
        "in_xAxis":{"k":"trade_date","from":"daily"} , 
        // "in_yAxis":{"1":{"name":"涨跌幅","max":10,"min":-10}   },
        "in_yAxis":{"1":{"name":"上证指数","min":1700}   },
        "in_series":[
            {"from":"daily","k":"open"} , 
            {"from":"daily","k":"close"} ,
            {"from":"daily","k":"high"} ,
            {"from":"daily","k":"low"}, 
            // {"from":"daily","k":"pct_change","yAxisIndex":1}
            {"from":"index_daily","k":"close","yAxisIndex":1}, 
            
            ]  }
        };
        var p_code=getUrlParam("code")
    if(p_code){
        oo["query_data"]["codes"]=[p_code]
        if(p_code.indexOf(".SZ")>=0){
            if(oo.query_data.items.index_daily){
                oo.query_data.items.index_daily.ts_code="399001.SZ"
                oo["in_yAxis"]={"1":{"name":"深圳指数","min":8000}   };
            }
        }
    }    
    var url = "/stock/report/test.json";
    jQuery.ajax({
        type: "POST",
        data: JSON.stringify(oo),
        url: url,
        dataType: "json",
    }).success(function (json) {
        if (json.Code == 0) {
            var option=json.Response;
            myChart.setOption(option);
            
        }else{
        Dialog({ Title: "提示", Type: window.top.MyDialog.Types.Message, Icon: window.top.MyDialog.Icons.Info, Message: json.Message, AutoClose: 3 }, null, null);            
        }
    })     


   
</script>