
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489555736142'); /* IE9*/
  src: url('iconfont.eot?t=1489555736142#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489555736142') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489555736142') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489555736142#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e61a"; }

.icon-shijianguanli:before { content: "\e669"; }

.icon-serach:before { content: "\e61b"; }

.icon-solution:before { content: "\e635"; }

.icon-hisorder:before { content: "\e62a"; }

.icon-area2:before { content: "\e605"; }

.icon-camera:before { content: "\e6cf"; }

.icon-project:before { content: "\e646"; }

.icon-repair:before { content: "\e773"; }

.icon-area:before { content: "\e6ad"; }

.icon-warn:before { content: "\e6f4"; }

.icon-persons:before { content: "\e7c9"; }

.icon-YW:before { content: "\e6c0"; }

.icon-SZ:before { content: "\e6c3"; }

.icon-LL:before { content: "\e6c5"; }

.icon-list:before { content: "\e6c8"; }

.icon-setting:before { content: "\e6cb"; }

.icon-analysis:before { content: "\e6cc"; }

.icon-working:before { content: "\e6cd"; }

.icon-back:before { content: "\e6d1"; }

.icon-DEVICE:before { content: "\e6d2"; }

.icon-realtime:before { content: "\e6d4"; }

.icon-alarm:before { content: "\e6d7"; }

.icon-COMM:before { content: "\e6dc"; }

.icon-DOOR:before { content: "\e6de"; }

.icon-gis:before { content: "\e6df"; }

.icon-recovery:before { content: "\e6e0"; }

.icon-pump:before { content: "\e6e3"; }

.icon-lab:before { content: "\e6f7"; }

.icon-arrow-spread:before { content: "\e715"; }

.icon-arrow-back:before { content: "\e716"; }

.icon-zonghejiankong:before { content: "\e717"; }

.icon-fuzhufenxi:before { content: "\e718"; }

.icon-yingjiyuan:before { content: "\e719"; }

.icon-gonggaotongzhi:before { content: "\e71b"; }

.icon-xitongshezhi:before { content: "\e71c"; }

.icon-huanfu:before { content: "\e71d"; }

.icon-paiban:before { content: "\e71e"; }

.icon-baojing:before { content: "\e71f"; }

.icon-zhuxiao:before { content: "\e720"; }

